.nav {
  &_block {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    padding-top: 15px;
    padding-bottom: 15px;

    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    background-color: #000000dc;
  }
  &_link {
    position: relative;
    padding: 10px;
    color: rgb(238, 238, 238);
    background-color: #000000b6;

    border: solid 2px #fff;
    border-radius: 10px;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #ff0000,
      0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 20px #ff0000;
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #ff0000, 0 0 12px #ff0000,
      0 0 16px #ff0000, inset 0 0 20px #ff0000;
    animation: flicker 5.5s infinite alternate;
    transition: all 250ms linear;

    &:hover {
      font-weight: bold;
      animation: flicker 0.5s infinite alternate;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

.active {
  position: relative;
  font-weight: bold;
  padding: 10px;
  color: rgba(255, 255, 255, 0.699);
  background-color: #36363694;

  border: solid 2px #fff;
  border-radius: 10px;

  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #00ff22,
    0 0 20px #00ff22, 0 0 30px #00ff22, 0 0 40px #00ff22, 0 0 20px #00ff22;
  box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #00ff22, 0 0 12px #00ff22,
    0 0 16px #00ff22, inset 0 0 20px #00ff22;

  & .icon {
    fill: #15ff00;
  }
  &:hover {
    font-weight: bold;
  }
}
.icon {
  position: absolute;
  width: 35px;
  height: 35px;
  fill: #ff000000;
  z-index: -999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .nav {
    &_block {
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;
    }
    &_link {
      padding: 15;
    }
  }
  .active {
    padding: 15px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    &_block {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 22px;
    }
    &_link {
      padding: 20px;
    }
  }
  .active {
    padding: 20px;
  }
  .icon {
    width: 70px;
    height: 70px;
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 15px #ff0000,
      0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 100px #ff0000;
  }
  20%,
  24%,
  55% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #ff0000,
      0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 55px #ff0000, 0 0 80px #ff0000;
  }
}
