.nav {
  &_block {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    padding-top: 15px;
    padding-bottom: 15px;

    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    background-color: #000000dc;
  }
  &_link {
    position: relative;
    padding: 10px;
    color: rgb(238, 238, 238);
    background-color: #000000b6;
    -webkit-animation: slowly 30s infinite;
    animation: slowly 30s infinite;
    &:hover {
    }
    &:active {
    }
  }
}

.active {
  position: relative;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #ffffff94;
  & .icon {
    fill: #ff0000;
  }
  &:hover {
  }
  &:active {
  }
}
.icon {
  position: absolute;
  width: 35px;
  height: 35px;
  fill: #ff000000;
  z-index: -999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .nav {
    &_block {
      display: flex;
      justify-content: space-evenly;
      font-size: 16px;
    }
    &_link {
      padding: 15;
    }
  }
  .active {
    padding: 15px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    &_block {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px;
    }
    &_link {
      padding: 20px;
    }
  }
  .active {
    padding: 20px;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes slowly {
  50% {
    box-shadow: rgba(255, 255, 255, 0.719) 0px 7px 29px 0px;
  }
}
@keyframes slowly {
  50% {
    box-shadow: rgba(255, 255, 255, 0.726) 0px 7px 29px 0px;
  }
}
