*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  height: 100%;
  width: 100%;

  color: rgb(0, 0, 0);
  background-color: #6d676e;
  background-image: url("https://png.pngtree.com/background/20221202/original/pngtree-seamless-pattern-with-cocktails-in-glass-picture-image_1977557.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
