.main {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.829);
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));

  &_block {
    text-align: center;
  }
  &_title {
    margin-bottom: 20px;
  }
  &_dscr {
    margin-bottom: 20px;
  }
  &_second {
    margin-bottom: 20px;
  }
  &_links {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    & .main_link {
      cursor: pointer;
      padding: 15px;
      font-size: 18px;
      color: #000000;
      border-radius: 10px;
      transition: all 200ms linear;
      border: 2px solid rgba(0, 0, 0, 0);

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  &_random {
    margin-bottom: 15px;
  }
  &_btn {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 18px;
    color: #000000;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 10px;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #00ff22,
      0 0 20px #00ff22, 0 0 30px #00ff22, 0 0 40px #00ff22, 0 0 20px #00ff22;
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #00ff22, 0 0 12px #00ff22,
      0 0 16px #00ff22, inset 0 0 20px #00ff22;
    transition: all 250ms linear;

    &:hover {
      text-shadow: 0 0 1px #ffffffa8, 0 0 2px #ffffffa8, 0 0 5px #ffffffa8,
        0 0 11px #00ff2294, 0 0 20px #00ff2294, 0 0 30px #00ff2294,
        0 0 40px #00ff2294, 0 0 20px #00ff2294;
      box-shadow: 0 0 1px #ffffffa8, 0 0 3px #ffffffa8, 0 0 4px #00ff2294,
        0 0 12px #00ff2294, 0 0 16px #00ff2294, inset 0 0 20px #00ff2294;
    }
    &:active {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #ff0000,
        0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 20px #ff0000;
      box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #ff0000, 0 0 12px #ff0000,
        0 0 16px #ff0000, inset 0 0 20px #ff0000;
      transform: scale(0.95);
    }
  }
  &_name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &_wrap {
    position: relative;
    width: 250px;
    height: 250px;
  }
  &_drink {
    margin: 10px 0 10px 0;
  }
  &_instruction {
    margin-bottom: 15px;
  }
  &_lists {
    display: flex;
    margin-bottom: 30px;

    & .main_list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &_title {
        font-size: 20px;
        margin-bottom: 15px;
      }

      & .main_item {
        text-align: left;
        width: 100%;
      }

      .main_border {
        border-bottom: solid 1px #00000036;
      }

      &:nth-child(2) {
        margin-left: 50px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .main {
    &_btn {
      margin-bottom: 30px;
    }
    &_wrap {
      width: 450px;
      height: 450px;
    }
  }
}
@media screen and (min-width: 1000px) {
  .main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.829);
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));

    &_block {
      text-align: center;
    }
    &_title {
      margin-bottom: 40px;
    }
    &_dscr {
      margin-bottom: 30px;
    }
    &_second {
      margin-bottom: 30px;
    }
    &_links {
      margin-bottom: 40px;
    }
    &_random {
      margin-bottom: 15px;
    }
    &_btn {
      cursor: pointer;
      margin-bottom: 40px;
      padding: 15px;
      font-size: 18px;
      color: #000000;
      background-color: transparent;
      border: solid 2px #fff;
      border-radius: 10px;
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #00ff22,
        0 0 20px #00ff22, 0 0 30px #00ff22, 0 0 40px #00ff22, 0 0 20px #00ff22;
      box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #00ff22, 0 0 12px #00ff22,
        0 0 16px #00ff22, inset 0 0 20px #00ff22;
      transition: all 250ms linear;

      &:hover {
        text-shadow: 0 0 1px #ffffffa8, 0 0 2px #ffffffa8, 0 0 5px #ffffffa8,
          0 0 11px #00ff2294, 0 0 20px #00ff2294, 0 0 30px #00ff2294,
          0 0 40px #00ff2294, 0 0 20px #00ff2294;
        box-shadow: 0 0 1px #ffffffa8, 0 0 3px #ffffffa8, 0 0 4px #00ff2294,
          0 0 12px #00ff2294, 0 0 16px #00ff2294, inset 0 0 20px #00ff2294;
      }
      &:active {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #ff0000,
          0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 20px #ff0000;
        box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #ff0000,
          0 0 12px #ff0000, 0 0 16px #ff0000, inset 0 0 20px #ff0000;
        transform: scale(0.95);
      }
    }
    &_name {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_wrap {
      position: relative;
      width: 650px;
      height: 650px;
    }
    &_drink {
      margin: 20px 0 20px 0;
    }
    &_instruction {
      margin-bottom: 20px;
    }
    &_lists {
      display: flex;
      margin-bottom: 50px;

      & .main_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &_title {
          font-size: 24px;
          margin-bottom: 20px;
        }

        & .main_item {
          text-align: left;
          width: 100%;
        }

        .main_border {
          border-bottom: solid 1px #00000036;
        }

        &:nth-child(2) {
          margin-left: 100px;
        }
      }
    }
  }
}
